<section class="bg-white dark:bg-gray-900">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 xl:gap-16 sm:py-16 lg:px-6 ">
        <img class="mb-4 w-full lg:mb-0 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/features/feature-office-long.png" alt="feature image">
        <div class="text-gray-500 dark:text-gray-400 sm:text-lg">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{{ title }}</h2>
            <p class="mb-8 font-light lg:text-xl">{{ subtitle }}</p>
            <div class="py-8 mb-6 border-t border-b border-gray-200 dark:border-gray-700">
                {{ content }}
                <div class="flex">
                    <div class="flex justify-center items-center mr-4 w-8 h-8 rounded-full bg-primary-100 dark:bg-primary-900 shrink-0">
{{#                         <svg class="w-5 h-5 text-primary-600 dark:text-primary-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg> #}}
                    </div>
                    <div>
                        <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">{{ title }}</h3>
                        <p class="mb-2 font-light text-gray-500 dark:text-gray-400">{{ description }}</p>
                        <a href="{{ link }}" class="inline-flex items-center text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-600">
                            {{ link_label }}
                            <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                        </a>
                    </div>
                </div>
                {{ /content }}
            <p class="text-sm">{{ footer }}</p>
        </div>
    </div>
</section>
